/* ----------------------- */
/* 1600px */
/* ----------------------- */

@media (max-width:1600px) {
    .section1 .visuel {
        background-position: bottom 0 right -6rem;
    }
}

/* ----------------------- */
/* 1400px */
/* ----------------------- */

@media (max-width:1400px) {
    .section1 .visuel {
        background-size: auto 80%;
        background-position: bottom 0 right -5rem;
    }
}

/* ----------------------- */
/* 1250px */
/* ----------------------- */

@media (max-width:1250px) {
    h1 {
        font-size: 2.75rem;
    }

    p {
        font-size: 1rem;
    }

    .u-wrapper {
        padding: 0 2rem;
    }
    .section1 .visuel {
        background-size: auto 73%;
        background-position: bottom 0 right -8rem;
    }
}

/* ----------------------- */
/* 1100px */
/* ----------------------- */

@media (max-width:1100px) {
    .section1 .visuel {        
        background-size: auto 73%;
        background-position: bottom 0 right -9.5rem;
    }
}

/* ----------------------- */
/* 960px / display */
/* ----------------------- */

@media (max-width:960px) {
    .section1 .content {
        display: none;
    }

    .section1 .visuel {
        background-position: bottom right;
        background-size: auto 80%;
        height: 80vh;
        width: 100%;
    }
}