/* ----------------------- */
/* 1800px */
/* ----------------------- */

@media (max-width:1800px) {
    .section1 .visuel {
        background-position: bottom left 2vw;
    }

    .section3 .content {
        max-width: 35%;
    }

    .section3 .content {
        padding: 0 4vw 0 8vw;
    }
}



/* ----------------------- */
/* 1600px */
/* ----------------------- */

@media (max-width:1600px) {
    .section1 .visuel {
        background-position: bottom left 2vw;
    }

    .section3 .content {
        max-width: 35%;
    }

    .section3 .content {
        padding: 0 4vw 0 8vw;
    }

    .section3 .team-item {
        width: 46%;
    }
}



/* ----------------------- */
/* 1500px */
/* ----------------------- */

@media (max-width:1500px) {
    .section1 .visuel {
        background-position: bottom left 2vw;
    }
}



/* ----------------------- */
/* 1400px */
/* ----------------------- */

@media (max-width:1400px) {
    .section1 .visuel {
        background-position: bottom left 2vw;
    }
}



/* ----------------------- */
/* 1250px */
/* ----------------------- */

@media (max-width:1250px) {
    h1 {
        font-size: 2.75rem;
    }

    .section1 .visuel {
        background-position: bottom left 2vw;
    }

    .section2 .u-wrapper {
        justify-content: center;
    }

    .section2 .content {
        max-width: 40%;
        height: auto;
        padding: 6rem 0;
    }

    #swiper-present {
        z-index: 2;
        width: 70%;
        margin: 0;
    }

    .section4 .swiper-button-next {
        right: 4vw;
    }

    .section4 .swiper-button-prev {
        left: 4vw;
    }

    .section5 .content {
        max-width: 45%;
    }

    .section5::before {
        width: 40%;
    }

    .section5 .avis {
        max-width: 55%;
    }
}



/* ----------------------- */
/* 1200px */
/* ----------------------- */

@media (max-width:1230px) {
    .section1 .content {
        padding: 0 4vw;
    }

    .section2 .content {
        padding: 0 0 0 4vw;
    }

    .section3 .content,
    .section4 .content,
    #swiper-actu,
    .section5 .content,
    .section5 .avis,
    .section3 .team,
    .section6 .content {
        padding: 0 4vw 0 4vw;
    }

    .section5 .content {
        padding: 0 8vw 0 4vw;
    }

    .section5 .avis-item {
        width: 100%;
    }
}



/* ----------------------- */
/* 1100px */
/* ----------------------- */

@media (max-width:1100px) {
    .navbar a {
        color: #fff;
        font-size: 1rem;
    }

    .section1 .visuel {
        background-position: bottom left 2vw;
    }
}



/* 1000px / display */
/* ----------------------- */

@media (max-width:1000px) {
    .sticky {
        display: none;
    }

    .navbar {
        height: 100%;
        padding: 3rem 4rem;
    }

    .navbarPage {
        height:auto;
    }

    .navbar object {
        width: 30rem;
    }

    .navbar-toggler {
        height: 5vh;
        width: 12vw;
        background-image: url(../img/menu-button.svg);
        background-position: center;
        background-size: 100% 100%;
    }

    .navbar .span {
        height: .5rem;
        width: 4rem;
        margin: .8rem 0;
        background-color: #fff;
    }

    .navbar-nav {
        padding: 2rem 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-link {
        font-size: 4rem;
        margin: 1.5vh 0;
    }

    h1,
    h2 {
        font-size: 8rem;
        margin: 0;
    }

    p {
        font-size: 2.5rem;
        padding: 2.6rem 0 3.4rem 0;
        margin: 0;
    }

    .u-wrapper {
        height: auto;
    }

    .section1 {
        height: 70rem;
    }

    .section1 .content {
        display: none;
    }

    .section1 .u-wrapper {
        height: auto;
    }

    .section1 .visuel {
        background-position: bottom left 2vw;
        background-size: 120%;
        height: 70rem;
        width: 100%;
    }

    .section2 {
        height: auto;
        background-image: none;
    }

    .section2 .u-wrapper {
        display: flex;
        flex-direction: column;
        background-color: #2c4553;
        height: auto;
    }

    .section2 .content {
        max-width: 100%;
        height: auto;
        padding: 4.5rem 0 6rem 0;
    }

    .section2 .content a {
        display: block;
    }

    .section2 img,
    .section5 img {
        display: block;
        width: 70vw;
        transition: 0.5s;
    }

    .section2 img:hover {
        box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.5);
    }

    .section2::before {
        content: none;
    }

    #swiper-present {
        position: relative;
        width: 100%;
    }

    #swiper-present {
        overflow: visible;
        padding-bottom: 6rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    #swiper-present:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 110vw;
        background-color: #f78c28;
        left: -5vw;
        top: 0;
    }

    #swiper-present .swiper-slide {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 80rem;
    }

    .section3 {
        height: auto;
        background-color: #2c4553;
        background-image: none;
    }

    .section3::before {
        content: none;
    }

    .section3 .u-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .section3 .content {
        font-size: 2em;
        padding: 5rem 0 5rem 0;
        margin: 0;
        max-width: 100%;
    }

    .section3 .team {
        position: relative;
        max-width: 100%;
        justify-content: space-between;
        padding: 5rem 3rem 6.5rem 3rem;
    }

    .section3 .team:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 110vw;
        background-color: #f78c28;
        left: -5vw;
        bottom: 0;
    }

    .section3 .team-item {
        width: 47%;
        height: 27rem;
        z-index: 1;
    }

    .section3 .content p {
        padding-bottom: 0;
    }

    .section3 .team-item-people-name,
    .section3 .team-item-people-surname {
        font-size: 2.2rem;
    }

    .section3 .team-item-people-description {
        font-size: 1.8rem;
    }

    .section4 {
        display: none;
    }

    .section5 .avis {
        display: none;
    }

    .section5::before {
        content: none;
    }

    .section5 .u-wrapper {
        background-color: #2c4553;
    }

    .section5 .content {
        max-width: 100%;
    }

    .section5 .content a {
        display: block;
    }

    .section5 img {
        display: block;
        width: 70vw;
        transition: 0.5s;
    }

    .section6 .u-wrapper {
        height: auto;
    }

    .section6 .content {
        max-width: 100vw;
        width: 100vw;
    }

    .section6 .visuel {
        display: none;
    }

    .section6 textarea {
        width: 100%;
        min-height: 18rem;
    }

    .balloon + label,
    .balloon + textarea {
        font-size: 2.5rem;
        padding: 3rem 2rem;
    }

    .balloon:focus + label,
    .balloon:active + label,
    .balloon:focus + textarea,
    .balloon:active + textarea {
        transform: translateY(-96px);
    }

    .form-submit span {
        width: auto;
        display: flex;
    }

    .row {
        margin: 0;
        width: 100%;
    }

    .row span {
        width: 100%;
    }

    .balloon {
        width: 100%;
        height: 5vh;
        margin: .5rem 0;
        font-size: 2.5rem;
        padding: 3rem;
    }

    .balloon:focus,
    .balloon:active {
        color: #2c4553;
        text-indent: 0;
        background: #fff;
        font-size: 2.5rem;
    }

    .balloonSubmit {
        width: 70vw;
        padding: 3vh 2.5rem;
        font-size: 2.5rem;
    }

    .section6 .baseline {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 2rem;
        background-color: #2c4553;
        padding: 4vw;
        width: 100%;
        text-align: center;
    }

    .section1 .content,
    .section2 .content,
    .section3 .content,
    .section5 .content,
    .section6 .content {
        margin-top: 0;
        padding-top: 7rem;
        padding-bottom: 7rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .section6 .content {
        padding-bottom: 18rem;
        height: auto;
    }

    .u-wrapper {
        margin-top: 0;
    }
}