/* ----------------------- */
/* GENERAL */
/* ----------------------- */

body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

h1, h2 {
    font-size: 3.7rem;
    margin: 0;
}

p {
    font-size: 1em;
    padding: 2.6rem 0 3.4rem 0;
    margin: 0;
}

.u-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


/* ----------------------- */
/* NABAR */
/* ----------------------- */

#pp-nav {
    display: none;
}

.navbarPage {
    width: 100%;
    background-color: #344955;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.31);
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
}

.span  {
    height: .2rem;
    width: 2rem;
    margin: .4rem 0;
    background-color: #fff;
}

.navbarFlex {
    justify-content: flex-end;
}

.navbar object {
    width: 250px;
}

.navbar a {
    color: #fff;
    font-size: 1.25rem;
}

.nav-item {
    position: relative;
}

.nav-item:hover:after {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1.5s;
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    bottom: .5px;
}

@-webkit-keyframes example {
    0%   {width:0%;}
    100% {width:100%;}
}


/* ----------------------- */
/* SECTION 1 */
/* ----------------------- */

.section1 .u-wrapper, .section2 .u-wrapper {
    overflow: hidden;
    background-color: #344955;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.section1 .content {
    max-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #344955;
    padding: 0 6rem 0 0;
}

.section1 .section1-link {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.section1 .section1-link img {
    width: 13.75rem;
    transition: 0.5s;
}

.section1 .section1-link img:hover {
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.5);
}

.section1 .section1-link .opacity {
    opacity: 0.5;
}

.section1 .section1-link .opacity:hover {
    box-shadow: none;
}

.section1 .visuel {
    position: relative;
    background-image: url(../img/header_img.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
    background-color: #f78c28;
    height: 100vh;
    width: 44%;
    position: absolute;
    right: 0;
}


/* ----------------------- */
/* SECTION 2 */
/* ----------------------- */

.section2 {
    background-image: url(../img/kesako_img.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.section2::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 60%;
    background-color: #f78c28;
    left: 0;
    bottom: 0;
}

.section2 .u-wrapper {
    background-color: transparent;
    align-items: center;
    z-index: 0;
}

.section2 .content {
    z-index: 1;
    max-width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6rem 0 0;
}

.section2 .content a {
    display: none;
}

#swiper-present {
    z-index: 2;
    width: 65%;
    padding-top: 0;
    padding-bottom: 0;
}

.section2 .swiper-container-3d .swiper-slide-shadow-left, 
.section2 .swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

#swiper-present .swiper-slide {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 50rem;
}

.section2 .swiper-button-next {
    background-image: url(../img/next.svg);
    background-size: contain;
    background-position: right;
    width: 5rem;
    right: 0;
    opacity: 0.5;
}

.section2 .swiper-button-prev {
    background-image: url(../img/prev.svg);
    background-size: contain;
    background-position: left;
    width: 5rem;
    left: 0;
    opacity: 0.5
}