/* ----------------------- */
/* GENERAL */
/* ----------------------- */

body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-size: 3.6em;
    margin: 0;
}

p {
    font-size: 1em;
    padding: 2.6rem 0 3.4rem 0;
    margin: 0;
}


/* ----------------------- */
/* NABAR */
/* ----------------------- */

#pp-nav {
    display: none;
}

.navbarPage {
    width: 100%;
    background-color: #344955;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.31);
}

.navbar {
   /* max-width: 1200px; */
    margin: 0 auto;
}

.span  {
    height: .2rem;
    width: 2rem;
    margin: .4rem 0;
    background-color: #fff;
}

.navbarFlex {
    justify-content: flex-end;
}

.navbar object {
    width: 250px;
}

.navbar a {
    color: #fff;
    font-size: 1.25rem;
}

.nav-item {
    position: relative;
}

.nav-item:hover:after {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1.5s;
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    bottom: .5px;
}

@-webkit-keyframes example {
    0%   {width:0%;}
    100% {width:100%;}
}


/* ----------------------- */
/* SECTION 1 */
/* ----------------------- */


.section1 .row {
    align-items: center;
    height: 100vh;
}

.section1 .home-content img {
    width: 23vh;
}

.section1 .home-img {
    background-color: #f78c28;
    height: 100vh;
    position: relative;
}

.section1 .home-img img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80%;
}

.section1 .picto-download img:nth-child(2) {
    opacity: 0.5;
}


/* ----------------------- */
/* SECTION 2 */
/* ----------------------- */


.section2 .row {
    align-items: center;
    height: 100vh;
}

.section2 .home-content img {
    width: 23vh;
}

.section2 .home-caroussel {
    background-color: #344955;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/kesako_img.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}