/* ----------------------- */
/* GENERAL */
/* ----------------------- */

* {
    box-sizing:border-box;
}

body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

h1, h2 {
    font-size: 3.7rem;
    margin: 0;
}

p {
    font-size: 18px;
    padding: 2.6rem 0 3.4rem 0;
    margin: 0;
}

.u-wrapper {
    margin: 68px auto 0 auto;
    max-width: 100vw;
}

.swiper-wrapper {
    list-style: none;
}

.link {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.link img {
    width: 13.75rem;
    transition: 0.5s;
}

.link img:hover {
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.5);
}

.link .opacity {
    opacity: 0.5;
}

.link .opacity:hover {
    box-shadow: none;
}

.bounce:hover {
    transition: 0.5s;
    animation: callToAction .5s infinite;
}

@keyframes callToAction {
    0%   {transform: rotate(-1deg);}
    50%  {transform: rotate(1deg);}
    100%  {transform: rotate(-1deg);}
    50% {transform: rotate(1deg);}
    0% {transform: rotate(-1deg);}
}



/* ----------------------- */
/* NABAR */
/* ----------------------- */

#pp-nav {
    display: none;
}

.navbarPage {
    width: 100%;
    background-color: #2d4753;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.31);
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar .span  {
    height: .2rem;
    width: 2rem;
    margin: .4rem 0;
    background-color: #fff;
}

.navbarFlex {
    justify-content: flex-end;
}

.navbar object {
    width: 250px;
}

.navbar a {
    color: #fff;
    font-size: 1.25rem;
}

.nav-item {
    position: relative;
}

.nav-item:hover:after {
    -webkit-animation-name: line; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: line;
    animation-duration: 1.5s;
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    bottom: .5px;
}

@-webkit-keyframes line {
    0%   {width:0%;}
    100% {width:100%;}
}



/* ----------------------- */
/* SECTION 1 */
/* ----------------------- */

.section1 .u-wrapper, .section2 .u-wrapper {
    overflow: hidden;
    background-color: #2d4753;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.section1 .content {
    max-width: 55%;
    padding: 0 8vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2d4753;
}

.section1 .visuel {
    background-image: url(../img/header_img.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
    background-color: #f78c28;
    height: 100vh;
    width: 44%;
    position: absolute;
    right: 0;
}



/* ----------------------- */
/* SECTION 2 */
/* ----------------------- */

.section2 {
    background-image: url(../img/kesako_img.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.section2::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 65%;
    background-color: #f78c28;
    left: 0;
    bottom: 0;
}

.section2 .u-wrapper {
    background-color: transparent;
    align-items: center;
    z-index: 0;
}

.section2 .content {
    z-index: 1;
    max-width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 8vw;
}

.section2 .content a {
    display: none;
}

#swiper-present {
    z-index: 2;
    width: 55%;
    padding-top: 0;
    padding-bottom: 0;
}

.section2 .swiper-container-3d .swiper-slide-shadow-left, 
.section2 .swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

#swiper-present .swiper-slide {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 35rem;
}

#swiper-present .swiper-slide:hover {
}

.section2 .swiper-button-next {
    background-image: url(../img/next.svg);
    background-size: contain;
    background-position: right;
    width: 5rem;
    right: 0;
    opacity: 0.5;
}

.section2 .swiper-button-prev {
    background-image: url(../img/prev.svg);
    background-size: contain;
    background-position: left;
    width: 5rem;
    left: 0;
    opacity: 0.5;
}



/* ----------------------- */
/* SECTION 3 */
/* ----------------------- */

.section3 {
    background-image: url(../img/team_img.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.section3::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 40%;
    background-color: #2d4753;
    left: 0;
    bottom: 0;
}

.section3 .u-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section3 .content {
    z-index: 1;
    max-width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8vw 0 8vw;
}

.section3 .team {
    z-index: 1;
    max-width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8vw 0 8vw;
}

.section3 .team-item {
    width: 30%;
    margin: .5rem 0 .5rem 1rem;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.section3 .team-item:nth-child(1) {
    background-image: url(../img/lise.png);
}

.section3 .team-item:nth-child(2) {
    background-image: url(../img/lise.png);
}

.section3 .team-item:nth-child(3) {
    background-image: url(../img/lise.png);
}

.section3 .team-item:nth-child(4) {
    background-image: url(../img/lise.png);
}

.section3 .team-item:nth-child(5) {
    background-image: url(../img/lise.png);
}

.section3 .team-item:hover {
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.6);
}

.section3 .team-item-people {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2d4753;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    transform: scale(3);
    opacity: 0;
    transition: .5s;
}

.section3 .team-item-people:hover {
    opacity: 1;
    transform: scale(1);
}

.section3 .team-item-people-name, .section3 .team-item-people-surname {
    padding: 0; 
    font-weight: 600;
    position: relative;
}

.section3 .team-item-people-surname {
    padding-bottom: 1rem;
}

.section3 .team-item-people-surname:after {
    position: absolute;
    content: '';
    height: .2rem;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: 0;
}

.section3 .team-item-people-description {
    font-size: .8rem;
    padding-top: 1rem;
    padding-bottom: 0;
}

.section3 h1, .section3 p {
    z-index: 1;
}



/* ----------------------- */
/* SECTION 4 */
/* ----------------------- */

.section4 {
    background-image: url(../img/actu_img.png);
    background-size: contain;
    background-position: right bottom -3rem;
    background-repeat: no-repeat;
    overflow: hidden;
}

.section4::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 58%;
    background-color: #f78c28;
    left: 0;
    bottom: 0;
}

.section4 .u-wrapper {
    position: relative;
    background-color: transparent;
    align-items: center;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section4 .content {
    z-index: 2;
    max-width: 100%;
    height: 100%;
    padding: 0 8vw 0 8vw;
}

.section4 .content h2 {
    padding-bottom: 2.6rem;
}

#swiper-actu {
    z-index: 2;    
    width: 70vw;
    padding-top: 0;
    padding-bottom: 0;   
    margin: 0 15vw 0 15vw;
}

#swiper-actu .swiper-slide {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    transition: .5s;
}

#swiper-actu .swiper-slide:hover {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
}

#swiper-actu .swiper-slide-header {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
}

#swiper-actu .swiper-slide-header:before {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#swiper-actu .swiper-slide-texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    font-size: 12px;
    color: #2d4753;
}

#swiper-actu .swiper-slide-header h3 {    
    z-index: 2;
    font-size: 25px;
    padding: 0;
}

#swiper-actu .swiper-slide-header p {    
    z-index: 2;
    font-size: 15px;
    padding: 0;
}

.section4 .swiper-button-next {
    background-image: url(../img/next.svg);
    background-size: contain;
    background-position: right;
    width: 5rem;
    height: 3rem;
    right: 11vw;
    top: calc(50% - 1.5rem + 3rem);
    opacity: 0.5;
}

.section4 .swiper-button-prev {
    background-image: url(../img/prev.svg);
    background-size: contain;
    background-position: left;
    width: 5rem;
    height: 3rem;
    left: 11vw;
    top: calc(50% - 1.5rem + 3rem);
    opacity: 0.5;
}



/* ----------------------- */
/* SECTION 3 */
/* ----------------------- */

.section5 {
    background-image: url(../img/avis_img.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.section5::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #2d4753;
    left: 0;
    bottom: 0;
}

.section5 .u-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section5 .content {
    z-index: 1;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8vw 0 8vw;
}

.section5 .avis {
    z-index: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 0 8vw 0 8vw;
}

.section5 .avis-item {
    width: 46%;
    margin: .5rem 1rem .5rem 0;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-color: #2d4753;
}


.section5 .avis-item:hover {
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.6);
}

.section5 .avis-item-client {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2d4753;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    transform: scale(1);
    opacity: 1;
    transition: .5s;
}

.section5 .avis-item-client:hover {
    opacity: 1;
    transform: scale(1);
}

.section5 .avis-item-client-name {
    font-size: 1rem;
    padding: 0; 
    font-weight: 600;
    position: relative;
}

.section5 .avis-item-client-star {
    display: flex;
}

.section5 .avis-item-client-star object{
    margin: .5rem .5rem .5rem 0;
}

.section5 .avis-item-client-description {
    font-size: .8rem;
    padding-top: 0;
    padding-bottom: 1rem;
}

.section5 .avis-item-client-description:last-child {
    padding-bottom: 0;
    position: relative;
}

.section5 .avis-item-client-description:last-child:before {
    content: '';
    position: absolute;
    top: -.5rem;
    left: 0;
    width: 100%;
    height: 0.05rem;
    background-color: white;
}

.section5 h1, .section5 p {
    z-index: 1;
}

.section5 .content a {
    display: none;
}

/* ----------------------- */
/* SECTION 6 */
/* ----------------------- */

.section6 {
    position: relative;
}

.section6 .u-wrapper, .section2 .u-wrapper {
    overflow: hidden;
    display: flex;
    background-color: #2d4753;
    justify-content: flex-start;
}

.section6 .content {
    max-width: 58%;
    padding: 0 8vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f78c28;
}

.section6 .visuel {
    position: relative;
    background-image: url(../img/contact_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f78c28;
    height: 100vh;
    width: 42%;
}

.section6 h2 {
    padding-bottom: 2.1rem;
}

.row {
    max-width: 100%s;
    margin: 0 auto;
    text-align: center;
  }

  .row:first-child {
    padding: 40px 30px;
  }

  .row span {
    position: relative;
    display: inline-block;
    margin: .5rem .5rem;
  }

  .form-textarea {
      width: 100%;
  }

  .form-submit {
      margin: 0;
  }

  .form-textarea span, .form-textarea textarea {
      width: 100%;
  }

  .balloonSubmit {
  display: inline-block;
  width: 19rem;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #f78c28;
  background: #efefef;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  margin-top: 3.5rem;
}
  .balloon {
    display: inline-block;
    width: 19rem;
    padding: 1rem 1rem;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #2d4753;
    background: #efefef;
    border: 0;
    outline: 0;
    text-indent: 60px;
    transition: all .3s ease-in-out;
  }

  .balloon::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  .balloon + label, .balloon + textarea {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 8px;
    padding: 5px 15px;
    color: #2d4753;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
    transition: all .3s ease-in-out;
    background: rgba(122, 184, 147, 0);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .balloon + textarea {
      width: 100%;
  }

  .balloon + label:after, .balloon + textarea::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid rgba(122, 184, 147, 0);
    transition: all .3s ease-in-out;
  }
  
  .balloon:focus,
  .balloon:active {
    color: #2d4753;
    text-indent: 0;
    background: #fff;
  }

  .balloon:focus::-webkit-input-placeholder,
  .balloon:active::-webkit-input-placeholder {
    color: #aaa;
  }

  .balloon:focus + label,
  .balloon:active + label,
  .balloon:focus + textarea,
  .balloon:active + textarea {
    color: #fff;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #2d4753;
    transform: translateY(-40px);
  }

  .balloon:focus + label:after,
  .balloon:active + label:after,
  .balloon:active + textarea:after,
  .balloon:active + textarea:after {
    border-top: 4px solid #2d4753;
  }

  .section6 .baseline {
      font-size: 0.8rem;
  }


/* ----------------------- */
/* Modal */
/* ----------------------- */
  

  